h1 {
    width: 75%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    font-style: oblique;
    text-align: center;
    margin: 0% 15% 0% 10%;
    color: rgb(73, 128, 180);
    background-color: aqua;
    border: black 5px solid;
}
div > h2 {
    text-align: right;
    width: 9%;
    padding-right: 1%;
    background-color: black;
    color: rgb(196, 232, 232); 
    font-weight: 1000; 
    font-size: xx-large; 
    border: rgb(255, 254, 254) 2px dotted;
    border-width: 5px;
}
.heading2 { 
    margin-top: 1%;
    margin-bottom: 0.5%;
    padding-right: 1%;
    margin-left: 48%;
    text-align: right;
    width: 5%;
    background-color: black;
    color: rgb(215, 238, 238); 
    font-weight: 1000; 
    font-size: xx-large; 
    border: rgb(255, 254, 254) 2px dotted;
    border-width: 5px;
}

.body_text {
    width: 50%;
    margin-left: 23%;
    margin-bottom: 5%;
    padding: 0.5%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    background-color: aqua;
    opacity: 75%;
}

body {
    background-image: url(https://www.ghirardelli.com/media/recipe/ChocolateChipCookies_27987.jpg);
    background-attachment: fixed;
}
.special_text {
    width: 25%;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    font-style: italic;
    font-weight: 800;
    letter-spacing: 0.2rem;
    color: rgba(62, 160, 226, 0.836);
    border: solid rgb(1, 0, 0) 3px;
    background-color: aqua;
    opacity: 85%;
}
.special_text2 {
    width: 50%;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    font-size: large;
    font-style: italic;
    letter-spacing: 0.2rem;
    color: rgba(62, 160, 226, 0.836);
    border: solid rgb(1, 0, 0) 3px;
    background-color: aqua;
    opacity: 85%;
}
.footer {
    text-align: center;
    width: 47%;
    margin: 25% 0 1% 25%;
    padding: -5%;
    border: red 5px solid;
    background-color: aqua;
}